@mixin antialiased($state: true) {
  @if $state == true {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

/*

WHAT IT DOES:
Prefixes to smoothing of fonts in all browsers.

*/
