/*
  This file generates border-radius helper classes according to
  defined breakpoints.

  I. e.:

  .b-radius-1 {
    border-radius: 0.0625rem;
  }

  .b-radius-md-8 {
    border-radius: 0.5rem;
  }

  Author: @tiagosatur

*/

$border-radius: (
  1: 0.0625rem,
  2: 0.125rem,
  3: 0.1875rem,
  4: 0.25rem,
  5: 0.3125rem,
  6: 0.375rem,
  7: 0.4375rem,
  8: 0.5rem,
  50: 50%
) !default;

$abbr: 'b-radius';

@each $breakpoint, $breakpoint-value in ($grid-breakpoints) {

  @if($breakpoint-value == 0) {

    @each $br, $br-value in ($border-radius) {
      .#{$abbr}-#{$br} {
        border-radius: #{$br-value} !important;
      }
    }

  } @else {

    @media(min-width: $breakpoint-value) {

      @each $br, $br-value in ($border-radius) {
        .#{$abbr}-#{$breakpoint}-#{$br} {
          border-radius: #{$br-value} !important;
        }
      }
    }
  }

}
