* {
	box-sizing: inherit;

	&::before, &::after {
		box-sizing: inherit;
	}

	&:focus {
		outline: none;
	}
}

html {
  box-sizing: border-box;
  font-size: 16px;
	line-height: 1.5;
	margin: 0;
	min-height: 100%;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
}

body,
figure {
	margin: 0;
}

html,
body {
	font: {
		smooth: always;
  }
  padding: 0;
  height: 100%;
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

select,
button,
textarea,
input[type="text"],
input[type="email"]
input[type="number"] {
	appearance: none;
	border: {
		radius: 0;
	}
  padding: 0;
}

.c-white {
  color: 'white';
}

//Removes IE default clear input and select
select::-ms-expand {
	display: none;
}

input[type=text],
input[type=tel] {
	&::-ms-clear {
		display: none;
	}
}


button {
	border: {
		radius: 0;
		width: 0;
	}
	cursor: pointer;
}

p {
	margin: 0 0 1rem;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;

	&[href^="http"]:empty::before {
		content: attr(href);
	}

	&:hover {
		text-decoration: none;
	}
}

img[data-original] {
	opacity: 0;
	transition: opacity .2 ease;
}


svg path {
	fill: inherit;
}

// Fixes Firefox anomaly on Lazyloading
@-moz-document url-prefix() {
	img:-moz-loading {
		visibility: hidden;
	}
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio, canvas, iframe, img, svg, video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/*
 * Remove Arrow Default Summary
 */
::-webkit-details-marker {
	display:none;
}
